{{> header}}
<div class="grid"></div>
<div class="container">


<a href="#" class="logo">Nonlinear<br>Matters</a>
<!-- {{#each posts}}
    <div class="post">
        <h3><a href="{{url}}">{{title}}</a></h3>
        {{#if date}}
            <p class="post-meta">
                {{date format="MMMM Do YYYY"}}
            </p>
        {{/if}}
        <p>{{{description}}}</p>
    </div>
{{/each}} -->
</div>
{{> js}}