@include font-face(fontawesome-webfont);
@include font-face(Univers-light-normal);
@include font-face(UniversLTStd);
@include font-face(rakesly-regular);

body {
  font-family: $font-text;
  font-size: $fs4;
  color: $c-primary;

}

.guard {
  height: $gap4;
  width: 100%;
  @include tile(lines-c, white, 2);
  position: fixed;
  z-index: 1000;
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}


h1, h2, h3, h4, h5, h6, strong, b {
  font-family: $font-title;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: $gap7;
  border: solid $gap white;
  border-left-width: 0;
  font-family: $font-brand;
  margin-top: $gap2;
  border-right-width: $gap2;
  padding-left: $gap13 - 1;
  font-size: $fs4;
  line-height: 100%;
  display: inline-block;
  background-color: #fff;
  background-size: contain;
  &:hover {
    text-decoration: none;
  }
}
a {
  color: $c-primary;
  cursor: pointer;
  &:hover {
    color: $c-secondary;
  }
  @include transition;
}
article {
  max-width: ($gap20 * 6) + $gap2 + 2;
  width: 100%;
  padding: $gap6;
}
h1 {
  font-size: $fs13;
 text-transform: uppercase;
  @include reset(all);
}
p, footer.footer, ul, ol, .content header {
  background-color: #fff;
  padding: $gap2 $gap3;
  padding-left: $gap6 - 3;
  margin-top: $gap4;
  border-right: solid 2px $c-secondary;
}
ul, ol {
  margin-left: $gap4;
}
.grid {
  height: 100vh;
  background-image: url(../images/grid.svg);
  width: 100vw;
  border: solid $gap5 white;
  border-left: solid $gap20 white;
  position: fixed;
  z-index: -1;
}

.links {
  font-size: $fs3;
  a {
    text-decoration: underline;
    &:not(:last-of-type) {
      border-right: solid 1px $c-secondary;
      padding-right: $gap;
      margin-right: $gap;
    }
  }
}