@include font-face(fontawesome-webfont);
@include font-face(Univers-light-normal);
@include font-face(UniversLTStd);


body {
  font-family: $font-text;
  font-size: $fs2;
  color: $c-primary;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: $font-title;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: 30px;
  padding-left: 75px;
  font-size: $fs2;
  line-height: 100%;
  display: inline-block;
  background-color: #fff;
  background-size: contain !important;
}

.grid {
  height: 100vh;
  background-image: url(../images/grid.svg);
  width: 100vw;
  border: solid 40px white;
  border-left: solid 150px white;
  position: fixed;
  z-index: -1;
}