@include font-face(fontawesome-webfont);
@include font-face(Univers-light-normal);
@include font-face(UniversLTStd);
@include font-face(rakesly-regular);

body {
  font-family: $font-text;
  font-size: $fs4;
  color: $c-primary;
  border: solid $gap6 white;
  @include tile(grid-b, $c-secondary, 12);
  &:before, &:after {
    content: "";
    display: block;
    height: $gap4;
    width: 100%;
    @include tile(lines-c, white, 2);
    position: fixed;
    z-index: 1000;
    left: 0;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}



h1, h2, h3, h4, h5, h6, strong, b {
  font-family: $font-title;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  height: $gap7;
  border: solid $gap white;
  border-left-width: 0;
  font-family: $font-brand;
  border-right-width: $gap2;
  padding-left: $gap13 - 1;
  font-size: $fs4;
  line-height: 100%;
  display: inline-block;
  background-color: #fff;
  background-size: contain;
  &:hover {
    text-decoration: none;
  }
}
a {
  color: $c-primary;
  cursor: pointer;
  &:hover {
    color: $c-secondary;
  }
  @include transition;
}



h1 {
  font-size: $fs13;
  text-transform: uppercase;
  @include reset(all);
}
p, footer.footer, ul, ol, .content header {
margin-bottom: $gap4;
  background-color: #fff;
  padding: $gap2 $gap3;
  padding-left: $gap6 - 3;
  border-right: solid 2px $c-secondary;
}

header.header, footer.footer, article.content section {
  width: ($gap20 * 5);
  margin: $gap4 auto 0 auto;
}



.links {
  font-size: $fs3;
  a {
    text-decoration: underline;
    &:not(:last-of-type) {
      border-right: solid 1px $c-secondary;
      padding-right: $gap;
      margin-right: $gap;
    }
  }
}