// (\_/)
// (`ㅅ`)づ base variables
// (")(")

$prefixes: webkit moz ms o;

$gap: 8px;
$fs: 8px;
$c-primary: #0D2277;
$c-secondary: #A1AFE4;

$font-title: UniversLTStd;
$font-text: Univers-light-normal;

// (\_/)
// (`ㅅ`)づ calculations
// (")(")

$gap2: ($gap * 2);
$gap3: ($gap * 3);
$gap4: ($gap * 4);
$gap5: ($gap * 5);

$fs2: ($fs * 2);
$fs3: ($fs * 3);
$fs4: ($fs * 4);
$fs5: ($fs * 5);
