// (\_/)
// (`ㅅ`)づ base variables
// (")(")

$prefixes: webkit moz ms o;

$gap: 6px;
$fs: 8px;
$c-primary: #0D2277;
$c-secondary: #A1AFE4;

$font-title: UniversLTStd;
$font-text: Univers-light-normal;

// (\_/)
// (`ㅅ`)づ calculations
// (")(")

$gap2: ($gap * 2);
$gap3: ($gap * 3);
$gap4: ($gap * 4);
$gap5: ($gap * 5);
$gap6: ($gap * 6);
$gap7: ($gap * 7);
$gap8: ($gap * 8);
$gap9: ($gap * 9);
$gap10: ($gap * 10);
$gap11: ($gap * 11);
$gap12: ($gap * 12);
$gap13: ($gap * 13);
$gap14: ($gap * 14);
$gap15: ($gap * 15);
$gap16: ($gap * 16);
$gap17: ($gap * 17);
$gap18: ($gap * 18);
$gap19: ($gap * 19);
$gap20: ($gap * 20);

$fs2: ($fs * 2);
$fs3: ($fs * 3);
$fs4: ($fs * 4);
$fs5: ($fs * 5);
