@font-face {
    font-family: "UniversLTStd-Bold";
    src: url("UniversLTStd-Bold.eot");
    src: url("UniversLTStd-Bold.eot?#iefix") format("embedded-opentype"),
         url("UniversLTStd-Bold.woff2") format("woff2"),
         url("UniversLTStd-Bold.woff") format("woff"),
         url("UniversLTStd-Bold.ttf") format("ttf"),
         url("UniversLTStd-Bold.svg#UniversLTStd-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}